{% if dcs == 'consul' %}
# We depend on a local patroni client
consul:
  host: "127.0.0.1:{{ dcs_port[dcs] }}"
{% endif
 %}
{% if dcs == 'zookeeper' %}
zookeeper:
  hosts:
{% endif
 %}
{% 
   if dcs == 'etcd' %}
etcd:
  protocol: {{ etcd_proto }}
{%    if use_certificates is defined and use_certificates %}
  cacert: /etc/patroni/certificates/ca.cert.pem
  key:    /etc/patroni/certificates/{{ ansible_hostname }}.key.pem
  cert:   /etc/patroni/certificates/{{ ansible_hostname }}.cert.pem
{%    endif %}
  hosts:
{% endif
 %}
{% if dcs == 'zookeeper' or dcs == 'etcd' %}
{%   for ip in dcs_ips
 %}
    - {{ ip }}:{{ dcs_port[dcs] }}
{%
     endfor %}
{% endif %}
